blessed==1.20.0
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
decorator==4.4.2
docopt==0.6.2
editor==1.6.6
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
inquirer==3.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
moviepy==1.0.3
mutagen==1.47.0
numpy==2.0.1
pillow==10.4.0
pipreqs==0.4.13
praw==7.7.1
prawcore==2.4.0
proglog==0.1.10
pycryptodomex==3.21.0
Pygments==2.18.0
readchar==4.2.0
requests==2.32.3
rich==13.7.1
runs==1.2.2
setuptools==75.1.0
six==1.16.0
tqdm==4.66.5
update-checker==0.18.0
urllib3==2.2.3
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
xmod==1.8.1
yarg==0.1.10
yt-dlp==2024.7.25
